<html>
<meta charset="utf-8">

<link rel="stylesheet" href="style.css">
<img class="center" src="https://thumbs.dreamstime.com/z/hello-word-cloud-collage-different-languages-world-background-concept-86609847.jpg" alt="alternatetext" style="width:500px;height:250px;">


<div class="banner">
  <div class="header">
    <h1> Language Translation Game </h1>
  </div>
</div>


<h1>RULES:</h1>
<div class="rules">
<p>This app is used to practice your skills translating English into Spanish. Just below is text in the English language that you will attempt to translate. 
Once your anser is submitted your answer will be translated so you can compare it. Then you can see exactly where you're off without giving the answer away for later attempts. Then you can click play again to try multiple times. Enjoy!</p>
<br>
<p>This application can be used for many languages after selecting try again it will always default back to Spanish.
</p>
</div>

<h1>Translate:
<label style="font-size:25px;">Choose a Language</label>

<select name="Language" id="Language">
<div id="myDropdown" class="dropdown-content"> 
 <option class="sele" value="Spanish" selected>Spanish</option>
  <option class="sele" value="Japanese">Japanese</option>
  <option class="sele" value="German">German</option>
  <option class="sele" value="French">French</option>
  <option class="sele" value="Russian">Russian</option>
  <option class="sele" value="Samoan">Samoan</option>
  <option class="sele" value="Chinese">Chinese</option>
  <option class="sele" value="Czech">Czech</option>
  <option class="sele" value="Dutch">Dutch</option>
</div>
</select>
</h1>
<!--This is where im going to have to scrape content from a page-->
<div id="scrapperContent" class="scrape">
<p><script language="JavaScript">
<!--
var r_text = new Array ();
r_text[0] = "All leaves are brown";
r_text[1] = "And the sky is gray";
r_text[2] = "I've been out for a walk";
r_text[3] = "On a winter day";
r_text[4] = "If I was in L.A.";
r_text[5] = "California dreaming, on a winter's day like this";
var i = Math.floor(6*Math.random())

document.write(r_text[i]);

//-->
</script></p>
</div>


<h1>Your answer is...</h1>
<form>
  <input style="width: 50%; height:40px;" type="text" id="userTranslation" placeholder="Your answer"<br>
</form>
  <form>
  <input id="userSubmit" class="button" type="submit" value="Submit"><input id="try_again" onclick="fn1()" class="button" type="submit" value="try agian">
</form>

<div id="display" style="display:none" class="scrape">
<h1>The correct translation is: </span><span id="translated_text"></span>
</div>

<script src="scripts.js"></script>


<script type="text/javascript">

function fn1()
{
 window.location.reload()
}
</script>



</html>
